.dw {
    max-width: 98%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size: 12   px;
    text-shadow: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-x;
    touch-action: pan-x;
}

.dw:focus {
    outline: none;
} /* если выпилить то будут паддинги */

/* Box sizing */
.dwwr {
    min-width: 200px;
    zoom: 1;
    overflow: visible;
    text-align: center;
    border: 1px solid white;
    font-family: arial, verdana, sans-serif;
} /* отвечает за размеры контейнера в котором всё находится */


/* Inline mode */
.dw-inline .dw {
    width: 100%;
    max-width: 100%;
}